<footer>
    <!-- Marking the footer section -->

    <div class="line"></div>

    <p id="footerP">&copy;Copyright 2021 - Sali Faisal
        <!-- Change the copyright notice -->

        <a class="footera" href="https://biblioottawalibrary.ca/en"> Reference</a>
        <a class="footera"
            href="mailto:sbensuleiman3739@conestogac.on.ca">Contact:sbensuleiman3739@conestogac.on.ca</a>
    </p>


</footer>