<!DOCTYPE html>
<html>
<header>
    <!-- Defining the header section of the page with the appropriate tag -->

    <hgroup>
        
        <img src="/logo.jpg" id="img1" alt="Logo" width="100px">
        <h1>Oya Library</h1>
        <h3>It's time to brighten things up</h3>
       
    </hgroup>
    <nav class="clear">
        <!-- The nav link semantically marks your main site navigation -->
        <ul>
            <li><a href="/addpage">Add page</a></li>
            <li><a href="/allBooks">All pages</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

</header>