<head>
    <%- include('layouts/header.ejs'); -%>
    
  </head>
  
  <body>  
  
    <%- include('layouts/headerBody.ejs'); -%>
    <div id="div1">
            <p id="Padmin">Thank you for contacting us <%= name %>!</p>
           
    </div>
    
</body>

<%- include('layouts/footer'); -%>