<head>
    <%- include('layouts/header.ejs'); -%>
    
  </head>
  
  <body>  
  
    <%- include('layouts/headerAdmin.ejs'); -%>
    <div id="div1">
        <p id="Padmin"><%= message %></p>
            
        </div>
   
</body>
<%- include('layouts/footer'); -%>
