<head>
  <%- include('layouts/header.ejs'); -%>
  
</head>

<body>  

  <%- include('layouts/headerAdmin.ejs'); -%>
  <div id="div1">

    <p id="Padmin">Page is updated</p>
</div>
  </body>

  <%- include('layouts/footer'); -%>








