

<head>
    <%- include('layouts/header.ejs'); -%>
    
</head>

<body>
    
    <%- include('layouts/header.ejs'); -%>

    <%- include('layouts/headerBody.ejs'); -%>
    

        


    <div id="div1">
        <!-- The new article tag. The id is supplied so it can be scrolled into view. -->

        <h2>What is new?</h2>
        <div class="line"></div> <!-- Dividing line -->
        <div class="articleBody clear">
            <main>
                <header id="header2">New arrivals..</header>
                <br>
                
                    <li class="L1">Love & Other Natural Disasters </li>
                    <br>
                    <p id="p1">"When Nozomi Nagai pictured the ideal summer romance, a fake one wasn't what she had 
                        in mind. That was before she met the perfect girl. Willow is gorgeous, glamorous, 
                        and...heartbroken? And when she enlists Nozomi to pose as her new girlfriend to make
                         her ex jealous, Nozomi is a willing volunteer. Because Nozomi has a master plan of
                          her own: one to show Willow she's better than a stand-in, and turn their fauxmance
                          into something real. But as the lies pile up, it's not long before Nozomi's schemes
                           take a turn toward disaster...and maybe a chance at love she didn't plan for"</p>
                    
                
                

            </main>
            <div id="asideDiv">

               <p id="header">Online Events</p>
               <img src="/img2.png"  alt="Event" width="300px" height="100px">
               <p>YouTube DIY series for teens</p>
               <img src="/img3.png"  alt="Event" width="300px" height="100px">
               <p>Take a look at our summer programs for children</p>
            </div>




        </div>
    </div>

    <!-- Article 1 end -->




    <footer>
        <!-- Marking the footer section -->

        <div class="line"></div>

        <p id="footerP">&copy;Copyright 2021 - Sali Faisal
            <!-- Change the copyright notice -->

            <a class="footera" href="https://www.hortzone.com/blog/indoor-flowering-plants/"> Reference</a>
            <a class="footera"
                href="mailto:sbensuleiman3739@conestogac.on.ca">Contact:sbensuleiman3739@conestogac.on.ca</a>
        </p>


    </footer>



</body>

